html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 50px);
  background: #DCE1E5;
  color: #225378;
}

header {
  color: #DCE1E5;
  background-color: #225378;
  padding-top: 20px;
  height: 70px;
  position: relative;
}

header h1 {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.3px;
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle
}
.profile {
  height: 40px;
  position: absolute;
  right: 10px;
  top: 15px;
  display: flex;
  flex-direction: row;
}

.profile.hide {
  display: none;
}

.profile img {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 black;
}

.user-button {
  margin-right: 10px;
  border-radius: 2px;
  background-color: #1695A3;
  cursor: pointer;
  border: 0;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 2px 5px 0 black;
  padding: 10px 15px;
  display: inline-block;
}

.profile-dropdown {
  display: none;
  position: absolute;
  top: 41px;
  right: 50px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: solid 1px grey;
  z-index: 1;
}

.profile-dropdown a {
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.profile-dropdown a:hover {
  background-color: #b8b8b8;
}

.profile:hover .profile-dropdown  {
  display: block;
}

.profile:hover .dropbtn {
  background-color: #ac7044;
}

.fa {
  font-size: 22px;
  transform: translateY(50deg);
}

.container {
  display: flex;
  flex-direction: column;
  width: 800px;
  padding: 20px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.add-item {
  border-radius: 2px;
  background-color: #fff;
  padding: 60px 18px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
  margin-bottom: 34px;
  max-height: 245px;
}

.display-item {
  width: 100%;
}

.display-item button {
  margin-top: 20px;
  margin-left: auto;
  display: block;
}

.add-item form {
  width: 100%;
  overflow: hidden;
  text-align: center;
}
input[type='file'] {
  border: none;
  background: transparent;
  margin: auto;
  display: inline-block;
}

input {
  background: white;
  border-radius: 3px;
  border: solid 1px #9e9e9e;
  padding: 5px;
  width: 100%;
  margin-top: 1rem;
  display: inline-block;
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.container li {
  box-sizing: content-box;
  list-style-type: none;
  background-color: #fff;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
  width: 45%;
  margin: 2.5%;
}

h2 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

.container li h3 {
  background-color: #225378;
  margin: 0;
  color: #fff;
  font-weight: 300;
  padding: 15px;
}

.container li p {
  padding: 15px;
}
.login-form button, .add-item button {
  width: 100%;
  margin: 10px 0px;
  background-color: #1695A3;
  color: #fff;
}

form button:hover {
  opacity: 0.5;
}

button {
  border-radius: 2px;
  min-width: 88px;
  color: #fff;
  background: #1695A3;
  cursor: pointer;
  border: 0;
  min-width: 120px;
  font-size: 14px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  padding: 10px 6px;
}

.login-form {
  border-radius: 2px;
  margin-right: 50px;
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
  margin-bottom: 34px;
  width: 350px;
  margin: 5% auto;
}

.login-form a {
  display: inline-block;
  margin: 5px 0px;
  font-size: .85em;
  cursor: pointer;
  color: #EB7F00;
}

.login-form a:hover {
  color: #4493cb;
  text-decoration: underline;
}

form h1 {
  margin-top: 0;
  margin-bottom: 2rem;
}

.login-form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.feedback {
  font-weight: 600;
  padding-top: 1rem;
}

.modal-back {
  background-color: rgba(34, 83, 120, 0.75);
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  padding: 5px;
  z-index: 100;
}

.modal {
  background-color: white;
  width: 400px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin: -200px 0 0 -200px;
  z-index: 200;
  box-shadow: 0 0 30px #173850;
}

.x-btn {
  position: absolute;
  right: 15px;
}

.modal .edit-profile-form {
  border-radius: 2px;
  background-color: rgb(237, 237, 237);
  padding: 1.5rem;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
}

.modal .action-row {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.modal button {
  width: 48%;
}

.edit-profile-form img {
  width: 200px;
  border-radius: 50%;
  border: solid 1px #ccc;
  box-shadow: 0 0 10px #ccc;
  margin: 0 auto;
  display: block;
}

.edit-profile-form h4 {
  text-align: center;
  margin-top: 0px;
}

footer {
  color: #DCE1E5;
  background-color: #1695A3;
  padding: 15px;
  text-align: center;
  height: 50px;
}

footer a {
    color: #DCE1E5;
}
